micronaut:
  executors:
    api:
      type: FIXED
      nThreads: ${API_EXECUTOR_THREADS:24}

  security:
    enabled: ${app.security.enabled:false}
    filter:
      pattern: ${app.security.filter.pattern:/**}
    intercept-url-map:
      - pattern: ${app.security.filter.pattern:/**}
        http-method: GET
        access:
          - isAuthenticated()
    basic-auth:
      enabled: ${app.security.basic.enabled:false}
    token:
      jwt:
        bearer:
          enabled: ${app.security.oauth2.enabled:false}
        claims-validators:
          issuer: ${app.security.oauth2.claims-validators.issuer:}
        signatures:
          jwks:
            uaa:
              url: ${app.security.oauth2.jwks.url:}

  caches:
    path-index:
      maximum-size: 200
      expire-after-access: 600s

  server:
    thread-selection: AUTO
    cors:
      enabled: true

  application:
    name: delta-fetch

  metrics:
    enabled: true
    export:
      prometheus:
        enabled: true
        step: PT1M
        descriptions: true
